<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Phones</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <h1>List Phones</h1>
    </div>
    <div class="row">
        <a th:href="@{phone/-1}" class="btn btn-primary">New Phone</a>
    </div><br/>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Price</th>
            <th>Brand</th>
            <th>Sold</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="phone: ${phones}">
            <td th:text="${phone.code}"></td>
            <td th:text="${phone.name}"></td>
            <td th:text="${phone.price}"></td>
            <td th:text="${phone.brand}"></td>
            <td>
                <label><input type="checkbox" class="checkbox-primary" th:checked="${phone.sold} == 0 ? false : true"/></label>
            </td>
            <td>
                <a th:href="@{phone/{id}(id = ${phone.id})}" class="btn btn-success">Edit</a>
                <form style="display: inline-block;" th:action="@{phone/delete/{dbCode}(dbCode = ${phone.id})}" th:method="DELETE">
                    <button type="submit" onclick="return confirm('Are you sure you want to delete this item?');" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>