<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <h1>List Students</h1>
    </div>
    <div class="row">
        <a th:href="@{student/-1}" class="btn btn-primary">Add student</a>
    </div><br/>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Date of Birth</th>
            <th>Major</th>
            <th>Vaccinated</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student: ${students}">
            <td th:text="${student.id}"></td>
            <td th:text="${student.name}"></td>
            <td th:text="${student.dob}"></td>
            <td th:text="${student.major}"></td>
            <td>
                <label><input type="checkbox" class="checkbox-primary" th:checked="${student.vaccinated}" th:disabled/></label>
            </td>
            <td><a th:href="@{student/{dbCode}(dbCode = ${student.dbCode})}" class="btn btn-success">View</a>
                <form style="display: inline-block;" th:action="@{student/delete/{dbCode}(dbCode = ${student.dbCode})}" th:method="DELETE">
                    <button type="submit" onclick="return confirm('Are you sure you want to delete?');" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>