<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Access Denied</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>

<body>
<div th:replace="_header::header"></div>
<div th:replace="_menu::menu"></div>
<div class="page-title">Access Denied!</div>
<div class="container">
    <div class="row">
        <h3 style="color:red;">Sorry, you can not access this page!</h3>
    </div>
</div>
<div th:replace="_footer::footer"></div>
</body>
</html>