<div th:fragment="footer" class="footer-container">
    Copyright &#169; <a href="http://github.com/TrQ-Hoan" target="_blank">HoanTQ</a>
    <br/>
    See more <a href="http://github.com/iexpurgator" target="_blank">github account</a>
</div>