<div th:fragment="header" class="header-container" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div class="site-name">PornBook</div>
    <div class="header-bar">
        <th:block sec:authorize="isAuthenticated()">
            Hello,
            <a th:href="@{/admin/accountInfo}" th:utext="${#request.userPrincipal.name}">..</a>
            &nbsp;|&nbsp;
            <a th:href="@{/admin/logout}">Logout</a>
        </th:block>

        <th:block sec:authorize="!isAuthenticated()">
            <a th:href="@{/admin/login}">Login</a>
            &nbsp;|&nbsp;
            <a th:href="@{/signup}">Signup</a>
        </th:block>
    </div>

</div>
