<div th:fragment="menu" class="menu-container" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <a th:href="@{/}">Home</a>
    |
    <a th:href="@{/productList}">
        Product List
    </a>
    |
    <a th:href="@{/shoppingCart}">
        My Cart
    </a>
    |
    <th:block sec:authorize="hasAnyRole('ROLE_MANAGER','ROLE_EMPLOYEE')">
        <a th:href="@{/admin/orderList}">
            Order List
        </a>
        |
    </th:block>
    <th:block sec:authorize="hasRole('ROLE_MANAGER')">
        <a th:href="@{/admin/product}">
            Create Product
        </a>
        |
    </th:block>
</div>