<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Porn Books</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}"/>
</head>
<body>
<div th:replace="_header::header"></div>
<div th:replace="_menu::menu"></div>
<div class="page-title">Online Library</div>
<div class="container">
    <div class="row justify-content-center">
        <div>
            <ul class="list-inline text-center">
                <li>Tran Quoc Hoan</li>
                <li>B19DCAT077</li>
            </ul>
        </div>
    </div>
</div>

<div th:replace="_footer::footer"></div>

</body>
</html>