<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
<div th:replace="_header::header"></div>
<div th:replace="_menu::menu"></div>
<div class="page-title">Login</div>

<div class="container">
    <div class="row justify-content-center">
        <!-- /login?error=true -->
        <th:block th:if="${#session != null && #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}">
            <div th:if="${#request.getParameter('error') == 'true'}" style="color: red; margin: 10px 0px;">
                Login Failed!!!<br/> Reason :
                <span th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}"></span>
            </div>
        </th:block>

        <form method="POST" th:action="@{/j_spring_security_check}" class="mt-5">
            <table>
                <tr>
                    <td class="my-required">User Name</td>
                    <td><input name="userName"/></td>
                </tr>
                <tr>
                    <td class="my-required">Password</td>
                    <td><input type="password" name="password"/></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <input type="submit" value="Login"/>
                        <input type="reset" value="Clear"/>
                    </td>
                </tr>
            </table>
        </form>

        <span class="error-message" th:utext="${error}"></span>
        <span class="message" th:utext="${msg}"></span>
    </div>
</div>
<div th:replace="_footer::footer"></div>
</body>
</html>