<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
<div th:replace="_header::header"></div>
<div th:replace="_menu::menu"></div>
<div class="page-title">Order Info</div>
<div class="container">
    <div class="row">
        <div class="customer-info-container">
            <h3>Customer Information:</h3>
            <ul>
                <li>Name: <span th:utext="${orderInfo.customerName}"></span></li>
                <li>Email: <span th:utext="${orderInfo.customerEmail}"></span></li>
                <li>Phone: <span th:utext="${orderInfo.customerPhone}"></span></li>
                <li>Address: <span th:utext="${orderInfo.customerAddress}"></span></li>
            </ul>
            <h3>Order Summary:</h3>
            <ul>
                <li>Total:
                    <span class="total" th:utext="${#numbers.formatDecimal(orderInfo.amount,3,2,'COMMA')}">
               </span>
                </li>
            </ul>
        </div>
        <br/>
        <table border="1" style="width:100%">
            <tr>
                <th>Product Code</th>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Amount</th>
            </tr>
            <tr th:each="orderDetailInfo : ${orderInfo.details}">
                <td th:utext="${orderDetailInfo.productCode}"></td>
                <td th:utext="${orderDetailInfo.productName}"></td>
                <td th:utext="${orderDetailInfo.quanity}"></td>
                <td th:utext="${#numbers.formatDecimal(orderDetailInfo.price,3,2,'COMMA')}"></td>
                <td th:utext="${#numbers.formatDecimal(orderDetailInfo.amount,3,2,'COMMA')}"></td>
            </tr>
        </table>
    </div>
</div>
<div th:replace="_footer::footer"></div>
</body>
</html>