<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>

<body>
<div th:replace="_header::header"></div>
<div th:replace="_menu::menu"></div>
<div class="page-title">Product</div>
<div class="container">
    <div class="row">
        <div th:if="${errorMessage != null}" class="error-message" th:utext="${errorMessage}"></div>
        <form th:action="@{/admin/product}" method="post" th:object="${productForm}" id="formSubmit" class="mt-5"
              enctype="multipart/form-data">
            <input type="hidden" th:field="*{code}">
            <input type="hidden" th:field="*{newProduct}"/>
            <input type="hidden" th:field="*{image}"/>
            <div class="container d-flex justify-content-between">
                <div class="col-6">
                    <div class="row">
                        <div class="col-6 mb-3">
                            <label for="title" class="my-required">Title</label>
                            <input type="text" id="title" name="title" class="form-control" th:readonly="${readonly}"
                                   th:value="${productForm.name}" th:field="*{name}">
                            <th:block th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                                      class="text-danger"></th:block>
                        </div>
                        <div class="col-6 mb-3">
                            <label for="author" class="my-required">Author</label>
                            <input type="text" id="author" name="author" th:value="${productForm.author}"
                                   th:field="*{author}"
                                   class="form-control" th:readonly="${readonly}">
                            <th:block th:if="${#fields.hasErrors('author')}" th:errors="*{author}"
                                      class="text-danger"></th:block>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea id="description" name="description" class="form-control" rows="10"
                                      th:value="${productForm.description}" th:readonly="${readonly}"
                                      th:field="*{description}">
                            </textarea>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-group">
                            <label for="datepublic" class="my-required">Date Public</label>
                            <input type="date" id="datepublic" name="datepublic" th:value="${productForm.publicDate}"
                                   th:field="*{publicDate}" th:readonly="${readonly}"
                                   class="form-control">
                            <th:block th:if="${#fields.hasErrors('publicDate')}" th:errors="*{publicDate}"
                                      class="text-danger"></th:block>
                        </div>
                        <div class="form-group">
                            <label for="pagenumber" class="my-required">Page Number</label>
                            <input type="number" id="pagenumber" name="pagenumber" th:value="${productForm.pageNumber}"
                                   th:field="*{pageNumber}" th:readonly="${readonly}"
                                   class="form-control">
                            <th:block th:if="${#fields.hasErrors('pageNumber')}" th:errors="*{pageNumber}"
                                      class="text-danger"></th:block>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-group">
                            <label for="category" class="my-required">Category</label>
                            <select class="form-control" id="category" name="category" th:field="*{genre}"
                                    th:readonly="${readonly}">
                                <option th:each="c: ${productForm.genres}" th:value="${c}" th:text="${c}"></option>
                            </select>
                            <th:block th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}"
                                      class="text-danger"></th:block>
                        </div>
                        <div class="form-group">
                            <label for="price" class="my-required">Price</label>
                            <input type="number" step="0.01" id="price" name="price" th:value="${productForm.price}"
                                   th:field="*{price}" th:readonly="${readonly}"
                                   class="form-control">
                            <th:block th:if="${#fields.hasErrors('price')}" th:errors="*{price}"
                                      class="text-danger"></th:block>
                        </div>
                    </div>
                    <div>
                        <input type="hidden" th:value="${btnName}" name="btnName">
                    </div>
                    <div class="mb-3">
                        <div class="form-group">
                            <button class="btn btn-info" name="btnaction" th:value="${btnName}" id="footer-btn"
                                    th:text="${btnName}" th:readonly="${readonly}"></button>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group mt-4" th:hidden="${readonly}">
                        <label for="image_btn" hidden>Upload</label>
                        <input type="file" id="image_btn" name="filename" accept="image/*"
                               th:field="*{fileData}" th:readonly="${readonly}">
                    </div>
                    <div style="margin-top: 55px; width: 400px;height: 600px;border: 1px solid black;background-position: center;background-size: cover;">
                        <img id="display_image" style="width: 400px; height: 600px;display: none;">
                        <img id="show_image" th:if="${productForm.image}"
                             th:src="@{|/productImage?code=${productForm.code}|}"
                             style="width: 400px; height: 600px;">
                        <input type="hidden" th:field="*{fileData}" th:value="${productForm.fileData}">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div th:replace="_footer::footer"></div>
<script>
    document.getElementById("image_btn").addEventListener("change", (e) => {
        let display_image = $("#display_image")
        let show_image = $("#show_image")
        var file = e.target.files[0]
        const reader = new FileReader()
        reader.readAsDataURL(file)
        reader.onloadend = function (e) {
            display_image.attr("src", reader.result)
            display_image.css('display', 'block')
            show_image.hide();
        }
    });
</script>
</body>
</html>