<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
<div th:replace="_header::header"></div>
<div th:replace="_menu::menu"></div>
<div class="page-title">Product List</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="product-preview-container" th:each="prodInfo : ${paginationProducts.list}">
            <ul>
                <li><img class="product-image" th:src="@{|/productImage?code=${prodInfo.code}|}"/></li>
                <li>Name: <span th:utext="${prodInfo.name}"></span></li>
                <li>Author: <span th:utext="${prodInfo.author}"></span></li>
                <!--        <li>Price: <span th:utext="${#numbers.formatDecimal(prodInfo.price,3,2,'COMMA')}"></span></li>-->
                <!-- For Manager edit Product -->
                <li><a th:href="@{|/buyProduct?code=${prodInfo.code}|}">Buy Now</a></li>
                <li><a th:href="@{|/product?code=${prodInfo.code}|}">Detail</a></li>
                <th:block sec:authorize="hasAuthority('ROLE_MANAGER')">
                    <li>
                        <a style="color:red;" th:href="@{|/admin/product?code=${prodInfo.code}|}">Edit</a>
                    </li>
                </th:block>
            </ul>
        </div>

        <br/>
        <div class="page-navigator" th:if="${paginationProducts.totalPages > 1}">
            <th:block th:each="page : ${paginationProducts.navigationPages}">
                <a th:href="@{|/productList?page=${page}|}" th:if="${page != -1}" class="nav-item" th:utext="${page}"></a>
                <span class="nav-item" th:if="${page == -1}"> ... </span>
            </th:block>
        </div>
    </div>
</div>
<div th:replace="_footer::footer"></div>

</body>
</html>