<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>

<body>
<div th:replace="_header::header"></div>
<div th:replace="_menu::menu"></div>
<div class="page-title">Product</div>
<div class="container">
    <div class="row justify-content-center">
        <div th:if="${errorMessage != null}" class="error-message" th:utext="${errorMessage}"></div>
        <form th:action="@{/product}" method="post" th:object="${productForm}" id="formSubmit"
              enctype="multipart/form-data">
<!--            <div class="container d-flex justify-content-center">-->
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-auto">
                        <div class="row">
                            <table>
                                <tr>
                                    <td style="font-weight: bold;">Title</td>
                                    <td th:text="*{name}"></td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold;">Author</td>
                                    <td th:text="*{author}"></td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold;">Description</td>
                                    <td th:text="*{description}"></td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold;">Date Public</td>
                                    <td th:text="${#dates.format(productForm.publicDate,'dd-MM-yyyy')}"></td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold;">Page Number</td>
                                    <td th:text="*{pageNumber}"></td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold;">Category</td>
                                    <td th:text="*{genre}"></td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold;">Price</td>
                                    <td th:text="*{price}"></td>
                                </tr>
                            </table>
                        </div>
                        <div class="mb-3">
                            <div class="form-group">
                                <label for="score" class="my-required">Score</label>
                                <input type="number" min="1" max="5" id="score" name="score" class="form-control"
                                       th:value="${score}" th:field="${score}">
                            </div>
                            <div class="form-group">
                                <label for="comment">Comment</label>
                                <textarea id="comment" name="comment" class="form-control" rows="6"
                                          th:value="${comment}" th:field="${comment}">
                            </textarea>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-info" name="rate" th:value="Rate" id="footer-btn"
                                        th:text="Rate"></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-auto">
                        <div style="width: 400px;height: 600px;border: 1px solid black;background-position: center;background-size: cover;">
                            <img id="display_image" style="width: 400px; height: 600px;display: none;">
                            <img id="show_image" th:if="${productForm.image}"
                                 th:src="@{|/productImage?code=${productForm.code}|}"
                                 style="width: 400px; height: 600px;">
                            <input type="hidden" th:field="*{fileData}" th:value="${productForm.fileData}">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div th:replace="_footer::footer"></div>
</body>
</html>