<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Enter Customer Information</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
<div th:replace="_header::header"></div>
<div th:replace="_menu::menu"></div>
<div class="page-title">Enter Customer Information</div>
<div class="container justify-content-center">
    <div class="row">
        <form method="POST" th:object="${customerForm}" th:action="@{/shoppingCartCustomer}">

            <table>
                <tr>
                    <td>Name *</td>
                    <td><input th:field="*{name}"/></td>
                    <td>
                  <span class="error-message"
                        th:if="${#fields.hasErrors('name')}" th:errors="*{name}">..</span>
                    </td>
                </tr>
                <tr>
                    <td>Email *</td>
                    <td><input th:field="*{email}"/></td>
                    <td>
                  <span class="error-message"
                        th:if="${#fields.hasErrors('email')}" th:errors="*{email}">..</span>
                    </td>
                </tr>
                <tr>
                    <td>Phone *</td>
                    <td><input th:field="*{phone}"/></td>
                    <td>
                  <span class="error-message"
                        th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">..</span>
                    </td>
                </tr>
                <tr>
                    <td>Address *</td>
                    <td><input th:field="*{address}"/></td>
                    <td>
                  <span class="error-message"
                        th:if="${#fields.hasErrors('address')}" th:errors="*{address}">..</span>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td><input type="submit" value="Submit"/> <input type="reset"
                                                                     value="Reset"/></td>
                </tr>
            </table>

        </form>
    </div>
</div>

<div th:replace="_footer::footer"></div>

</body>
</html>