<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shopping Cart Finalize</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>

<div th:replace="_header::header"></div>
<div th:replace="_menu::menu"></div>
<div class="page-title">Finalize</div>
<div class="container justify-content-center">
    <div class="row">
        <div class="container">
            <h3>Thank you for Order</h3>
            Your order number is: <span th:utext="${lastOrderedCart.orderNum}"></span>
        </div>
    </div>
</div>
<div th:replace="_footer::footer"></div>
</body>
</html>