<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
<div th:replace="_header::header"></div>
<div th:replace="_menu::menu"></div>

<div class="page-title">Signup</div>
<div class="container">
    <div class="row justify-content-center">
        <form method="POST" th:action="@{/signup}" th:object="${userForm}" style="padding-top: 45px;">
            <table>
                <tr>
                    <td class="my-required">User Name</td>
                    <td><label><input th:field="*{username}"/></label></td>
                    <td><span class="error-message" th:if="${#fields.hasErrors('username')}"
                              th:errors="*{username}">..</span></td>
                </tr>
                <tr>
                    <td class="my-required">Password</td>
                    <td><label><input type="password" th:field="*{password}"/></label></td>
                    <td><span class="error-message" th:if="${#fields.hasErrors('password')}"
                              th:errors="*{password}">..</span></td>
                </tr>
                <tr>
                    <td class="my-required">Retype Password</td>
                    <td><label><input type="password" th:field="*{repassword}"/></label></td>
                    <td><span class="error-message" th:if="${#fields.hasErrors('repassword')}"
                              th:errors="*{repassword}">..</span></td>
                </tr>
                <tr>
                    <td class="my-required">Email</td>
                    <td><label><input type="email" th:field="*{email}"/></label></td>
                    <td><span class="error-message" th:if="${#fields.hasErrors('email')}"
                              th:errors="*{email}">..</span></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <input type="submit" value="Signup"/>
                        <input type="reset" value="Reset"/>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
<div th:replace="_footer::footer"></div>

</body>
</html>