<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <h1>List Books</h1>
    </div>
    <div class="row">
        <a th:href="@{book/{id}(id = ${-1})}" class="btn btn-primary">Add Book</a>
    </div><br/>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>Book Code</th>
            <th>Title</th>
            <th>Author</th>
            <th>Category</th>
            <th>Approved</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book: ${books}" data-toggle="tooltip" th:title="${book.category}">
            <td th:text="${book.bookcode}"></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.category}"></td>
            <td>
                <label><input type="checkbox" class="checkbox-primary" th:checked="${book.approved}" th:disabled/></label>
            </td>
            <td><a th:href="@{book/{id}(id = ${book.bookcode})}" class="btn btn-success">View</a>
                <form style="display: inline-block;" th:action="@{book/delete/{id}(id = ${book.bookcode})}" th:method="DELETE">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>