<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<div th:replace="header::header"></div>
<div class="container">
    <div class="row mt-5">
        <div class="col">
            <h1>
                <div style="text-align: center;">Book Detail</div>
            </h1>
        </div>
    </div>
    <form th:action="@{/save}" method="post" th:object="${bookForm}" id="formSubmit" class="mt-5" enctype="multipart/form-data">
        <input type="hidden" th:field="*{bookcode}">
        <div class="container d-flex justify-content-between">
            <div class="col-6">
                <div class="row">
                    <div class="col-6 mb-3">
                        <label for="title">Title</label>
                        <input type="text" id="title" name="title" class="form-control" th:readonly="${readonly}"
                               th:value="${bookForm.title}" th:field="*{title}" required>
                        <th:block th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="text-danger">
                        </th:block>
                    </div>
                    <div class="col-6 mb-3">
                        <label for="author">Author</label>
                        <input type="text" id="author" name="author" th:value="${bookForm.author}" th:field="*{author}"
                               class="form-control" th:readonly="${readonly}" required>
                        <th:block th:if="${#fields.hasErrors('author')}" th:errors="*{author}" class="text-danger">
                        </th:block>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea id="description" name="description" class="form-control" rows="10"
                                  th:value="${bookForm.description}" th:readonly="${readonly}"
                                  th:field="*{description}">
                        </textarea>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-group">
                        <label for="datepublic">Date Public</label>
                        <input type="date" id="datepublic" name="datepublic" th:value="${bookForm.datepublic}"
                               th:field="*{datepublic}" th:readonly="${readonly}"
                               class="form-control" required>
                        <th:block th:if="${#fields.hasErrors('datepublic')}" th:errors="*{datepublic}"
                                  class="text-danger"></th:block>
                    </div>
                    <div class="form-group">
                        <label for="pagenumber">Page Number</label>
                        <input type="number" id="pagenumber" name="pagenumber" th:value="${bookForm.pagenumber}"
                               th:field="*{pagenumber}" th:readonly="${readonly}"
                               class="form-control" required>
                        <th:block th:if="${#fields.hasErrors('pagenumber')}" th:errors="*{pagenumber}"
                                  class="text-danger"></th:block>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-group">
                        <label for="category">Category</label>
                        <select class="form-control" id="category" name="category" th:field="*{category}" th:readonly="${readonly}">
                            <option th:each="c: ${categoryList}" th:value="${c}" th:text="${c}"></option>
                        </select>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-group">
                        <button class="btn btn-info" name="action" th:value="${btnName}" id="footer-btn"
                                th:text="${btnName}" th:readonly="${readonly}"></button>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group mt-4" th:hidden="${readonly}">
                    <label for="image_btn" hidden>Upload</label>
                    <input type="file" id="image_btn" name="filename" accept="image/png, image/jpg"
                           th:readonly="${readonly}">
                </div>
                <div style="margin-top: 55px; width: 400px;height: 600px;border: 1px solid black;background-position: center;background-size: cover;">
                    <img id="display_image" style="width: 400px; height: 600px;display: none;">
                    <img id="show_image" th:if="${bookForm.imagepath}" th:src="@{'uploads/'+${bookForm.imagepath}}"
                         style="width: 400px; height: 600px;">
                    <input type="hidden" th:field="*{imagepath}" th:value="${bookForm.imagepath}">
                </div>
            </div>
        </div>
    </form>
</div>
<div th:replace="footer::footer"></div>
</body>
<script>
    document.getElementById("image_btn").addEventListener("change", (e) => {
        let display_image = $("#display_image")
        let show_image = $("#show_image")
        var file = e.target.files[0]
        const reader = new FileReader()
        reader.readAsDataURL(file)
        reader.onloadend = function (e) {
            display_image.attr("src", reader.result)
            display_image.css('display', 'block')
            show_image.hide();
        }
    });
</script>
</html>