<!--    <div th:fragment="footer" style="position:fixed; bottom:0; width: 100%;">-->
    <div th:fragment="footer">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div style="text-align: center;"><p>Copyright &copy; HoanTQ</p></div>
            </div>
        </div>
    </div>