<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
<div th:replace="header::header"></div>
<div class="container">
    <div class="row mt-5">
        <div class="col">
            <h1 class="d-inline-block">List Books</h1>
            <a th:href="@{/create}" class="btn btn-info float-right" th:if="${userName}">Create</a>
        </div>
    </div>
    <p th:if="${books.isEmpty()}" class="alert alert-danger d-flex justify-content-center mx-auto mt-4">List Empty</p>
    <div th:unless="${books.isEmpty()}">
        <div class="row mt-5">
            <table class="table table-strped table-bordered">
                <p th:if="${msg}" class="alert alert-success" th:text="${msg}"></p>
                <thead class="table-dark">
                <tr>
                    <th class="text-center">Title</th>
                    <th class="text-center">Author</th>
                    <th class="text-center">Category</th>
                    <th class="text-center">Date</th>
                    <th class="text-center">PageNumber</th>
                    <th class="text-center" th:if="${userName}">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="book: ${books}">
                    <td th:text="${book.title}"></td>
                    <td th:text="${book.author}"></td>
                    <td th:text="${book.category}"></td>
                    <td th:text="${#dates.format(book.datepublic,'dd-MM-yyyy')}"></td>
                    <td th:text="${book.pagenumber}"></td>
                    <td th:if="${userName}">
                        <a th:href="@{book(id=${book.bookcode})}" class="btn btn-success">Edit</a>
                        <form style="display: inline-block;" th:method="DELETE"
                              th:action="@{bookDelete(id=${book.bookcode})}">
                            <button type="submit"
                                    onclick="return confirm('Are you sure you want to delete this item?');"
                                    class="btn btn-danger">Delete
                            </button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div th:replace="footer::footer"></div>
</body>
</html>