<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form Register</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <!-- Custom styles for this template -->
    <link th:href="@{/css/floating-labels.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="container col-md-5 mt-5">
    <div class="card">
        <div class="card-body">
            <div class="form-signin">
                <form th:action="@{/register}" method="post" th:object="${userForm}">
                    <caption><h2>Form Register</h2></caption>
                    <input type="hidden" th:field="*{id}">
                    <div class="form-label-group">
                        <input type="text" id="username" name="username" class="form-control" placeholder="Username">
                        <label for="username">Username</label>
                        <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" style="color: red;"></p>
                    </div>
                    <div class="form-label-group">
                        <input type="text" id="email" name="email" class="form-control" placeholder="Email">
                        <label for="email">Email</label>
                        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red;"></p>
                    </div>
                    <div class="form-label-group">
                        <input type="password" id="password" name="password" class="form-control" placeholder="Password">
                        <label for="password">Password</label>
                        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red;"></p>
                    </div>
                    <div class="form-label-group">
                        <input type="password" id="passwordcf" name="passwordcf" class="form-control" placeholder="Password Confirm">
                        <label for="passwordcf">Password Confirm</label>
                        <p style="color: red;" th:if="${#fields.hasErrors('passwordcf')}" th:errors="*{passwordcf}"></p>
                        <th:block><p style="color: red;" th:text="${error}"></p></th:block>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
                    <a th:href="@{/login}">Have an account</a>
                </form>
            </div>
        </div>
    </div>
    <div th:if="${errMsg}" class="alert alert-danger col-12 mt-4">
        <span th:text="${errMsg}"></span>
    </div>
</div>
</body>
</html>